.container {
  margin: 0 auto;
  max-width: 1190px ;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  font-family: Poppins;
  position: relative;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "SquadeOne";
  src: url("../public/fonts/SquadaOne-Regular.ttf");
}
@font-face {
  font-family: "Outfit";
  src: url("../public/fonts/Outfit-Regular.ttf");
}

a{
  text-decoration: none;
  color: #FFFFFF;
}